<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="equipbid.armentum.com.equip_bid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:cursorVisible="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash_Screen"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Sign_up"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Forgot_pass"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Add_New_Auction"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CustomGalleryActivity">
            <intent-filter>
                <action android:name=".ACTION_PICK" />
                <action android:name=".ACTION_MULTIPLE_PICK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Edit_User_Setting"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".User_Settings"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Error_page"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Success_page"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Duplicate_existing_Lot"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Load_Existing_Auction"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Loat_listing"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".New_lot"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lot_for_Auction"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Auction_History"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Auction_history_For_Auction"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Change_Pass"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <activity
            android:name=".Auction_Screen_Main"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Create_New_Auction_Lot"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".New_Lot_Entry"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Lot_Details_New"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lot_details_Img"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lot_details_selected_gallary"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CameraActivity"
            android:hardwareAccelerated="true"
            android:label="" />
        <receiver
            android:name=".UnitechReceiver">
            <intent-filter>
                <action android:name="unitech.scanservice.data" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".MyReceiver">
            <intent-filter>
                <action android:name="Localdata" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".User_Single"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".User_Edit_Single"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Change_Pass_Single"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <provider
            android:name="equipbid.armentum.com.equip_bid.basicsyncadapter.provider.FeedProvider"
            android:authorities="equipbid.armentum.com.equip_bid.basicsyncadapter"
            android:exported="false" />
        <service
            android:name="equipbid.armentum.com.equip_bid.basicsyncadapter.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service
            android:name="equipbid.armentum.com.equip_bid.accounts.GenericAccountService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
    </application>

</manifest>